.tooltip {
  z-index: 1;
  
}

.button {
  margin: 5px;
}

.filmDetails {
  display: flex;
  color: aliceblue;
  background-image: linear-gradient(to right, #131d36 800px, #598abe77 100%);
  height: 800px;
}

.posterContainer {
  padding: 10vh 5vw;
  z-index: 15;
}

.poster {
  border-radius: 5px;
  box-shadow: 5px 5px 20px black;
}

.textContainer {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 10;
  
}

.titleYear {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  color: aliceblue;
}

#title {
  font-weight: 700;
  font-size: 3rem;
  margin-right: 1vmax;
  margin-bottom: 0;
}

#tagline {
 font-size: 1.2rem;
 font-style: italic;
 font-weight: 300;
}

#release {
  font-size: 2rem;
  margin-bottom: 0;

}

.textStyle {
  color: aliceblue;
}

.backgroundPoster {
  background-repeat: no-repeat;
	background-size: cover;
  position: absolute;
  margin-top: 50px;
  height: 60vh;
  min-height: 580px;
  width: 100vw;
  opacity: 0.2;
}

.overviewContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 550px;
}

.overviewTitle {
  font-weight: 700;
  color: aliceblue;
}

.buttonsContainer {
  display: flex;
  width: 30%;
  justify-content: flex-start;
  
}
