.tooltip {
  z-index: 1;
  
}

.button {
  margin: 5px;
}

.filmDetails {
  display: flex;
  background-image: linear-gradient(to right, #000e30d0 150px, #598abe80 100%);
  
}

.posterContainer {
  padding: 80px;
  z-index: 15;
}

.poster {
  border-radius: 5px;
  box-shadow: 5px 5px 20px black;
}

.textContainer {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 10;
}

.titleYear {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: 1.6em;
  align-items: baseline;
}

.backgroundPoster {
  background-repeat: no-repeat;
	background-size: cover;
  position: absolute;
  margin-top: 50px;
  height: 500px;
  min-height: 50vh;
  width: 100vw;
  opacity: 0.25;
}

.overviewContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.overviewTitle {
  font-weight: 700;
}

.buttonsContainer {
  display: flex;
  width: 30%;
  justify-content: flex-start;
  
}
