
.poster {
  border-radius: 5px;
  margin: 5px 5px;
  width: 70%;
}

.title {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 2%;
}

.emptyTable {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.seenButton {
  border: none;
  box-shadow: none;
  
}