.ratingContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    text-align: center;
}

.starContainer {
    margin: 0 20px;
    display: flex;
}


.starOff {
    color: grey;
    padding: 1px;
}

.starOn {
    color: yellow;
    padding: 1px;
}

.starDisabled {
    display: none;
}

.button {
    border: none;
    padding: 0 3px;
    background: none;
}

.button:hover {
    background: none;
}
.button:focus {
    background: none;
}
.button:disabled {
    background: none;

}

.button:disabled:hover {
    background: none;
}