.listContainer {
  max-width: 70%;
}

.searchBar {
  width: 50vw;
  padding: 10px;
  margin: 50px 10px;
  border-radius: 25px;
  border: solid #1990fe 2px;
}

.title {
  font-size: 1.9rem;
  font-weight: 700;
}
