
.logo {
  width: 140px;
  height: 35px;
  background: rgba(255, 255, 255, 0.842);
  color: #1890FF;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px 24px;
  border-radius: 2px;
  font-size: 1.4rem;
  float: left;
  font-weight: 700;
}

.menu {
  justify-content: flex-end;
}

.footer {
  text-align: center;
  color: white;
  background-color: #001529;
  z-index: 10;
}
