.listItem {
  margin: 0.6rem;
  display: flex;
  max-width: 950px;
  border: 1px solid rgb(173, 170, 170);
  border-left: none;
  border-radius: 5px;

}

.firstColumn {
  width: fit-content;
  min-width: 200px;
  margin-top: 20px;
}

.list {
  display: flex;
  flex-direction: column;
}

.poster {
  border-radius: 5px;
  margin: 5px 10px;
}

.title {
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 0;
}


.textbox {
  display: block;
  margin: 0 1rem;
}


.emptyTable {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}