.film {
  margin: 0 0.6rem;
  height: 100%;
}

.carosel {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  height: fit-content;
}

.poster {
  border-radius: 5px;
  box-shadow: 5px 5px 10px black;
}

.poster:hover {
  opacity: 0.9;
}

.title {
  font-weight: bold;
  margin-bottom: 0;
}

.detailsContainer {
  position: relative;
  margin-top: 10px
}

.titleContainer {
  max-width: 74%;
}