.film {
  margin: 0 0.6rem;
}

.carosel {
  display: flex;
  overflow-x: scroll;
}

.poster {
  border-radius: 5px;
  box-shadow: 5px 5px 10px black;
}

.poster:hover {
  opacity: 0.9;
}

.title {
  font-weight: bold;
}
