
.genres {
    display: flex;
    flex-direction: row;
}

.genre {
    margin: 4px 4px 4px 0px;
    border-radius: 6px;
    border: solid 1px black;
    padding: 0 4px;
    background-color: rgba(17, 22, 24, 0.815);
}